<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.lesgood.siswa">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

  <uses-feature android:name="android.hardware.location.gps"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name="com.lesgood.siswa.base.BaseApplication"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:name="com.lesgood.siswa.ui.splash.SplashActivity"
      android:theme="@style/AppTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <meta-data
      android:name="com.facebook.sdk.ApplicationId"
      android:value="@string/facebook_app_id"/>

    <activity
      android:name="com.lesgood.siswa.ui.login.LoginActivity"
      android:theme="@style/AppTheme"/>
    <activity
      android:name="com.lesgood.siswa.ui.edit_profile.EditProfileActivity"
      android:theme="@style/AppTheme"
      android:windowSoftInputMode="stateHidden"/>
    <activity
      android:name="com.lesgood.siswa.ui.main.MainActivity"
      android:theme="@style/AppTheme"
      android:windowSoftInputMode="stateHidden"/>
    <activity
      android:label="Pengaturan"
      android:name="com.lesgood.siswa.ui.setting.SettingActivity"/>
    <activity
      android:label="Pencarian"
      android:name="com.lesgood.siswa.ui.search.SearchActivity"/>
    <activity
      android:label="List Guru"
      android:name="com.lesgood.siswa.ui.list.ListActivity"/>
    <activity
      android:label="List Guru"
      android:name="com.lesgood.siswa.ui.list.ListGantiGuruActivity"/>
    <activity
      android:label="Detail Order"
      android:name="com.lesgood.siswa.ui.order_detail.OrderDetailActivity"/>
    <activity
      android:label="Detail Guru"
      android:name="com.lesgood.siswa.ui.detail_teacher.DetailTeacherActivity"/>
    <activity
      android:label="Skill"
      android:name="com.lesgood.siswa.ui.skill.SkillActivity"/>
    <activity
      android:label="Penilaian"
      android:name="com.lesgood.siswa.ui.reviews.ReviewsActivity"/>
    <activity
      android:label="Pengalaman"
      android:name="com.lesgood.siswa.ui.pengalaman.PengalamanActivity"/>
    <activity
      android:label="Prestasi"
      android:name="com.lesgood.siswa.ui.prestasi.PrestasiActivity"/>
    <activity
      android:label="Pesan Pengajar"
      android:name="com.lesgood.siswa.ui.book.BookActivity"
      android:windowSoftInputMode="stateHidden"/>
    <activity
      android:label="Pesan Pengajar"
      android:name="com.lesgood.siswa.ui.book_2.BookActivity"/>
    <activity
      android:label="Selesaikan pesanan"
      android:name="com.lesgood.siswa.ui.complete_order.CompleteOrderActivity"/>
    <activity
      android:label="Pembayaran"
      android:name="com.lesgood.siswa.ui.webview.WebViewActivity"/>
    <activity
      android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
      android:theme="@style/Base.Theme.AppCompat"/>

    <meta-data
      android:name="com.google.firebase.messaging.default_notification_icon"
      android:resource="@drawable/ic_appointment_reminders_primary_32dp"/>
    <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
    <meta-data
      android:name="com.google.firebase.messaging.default_notification_color"
      android:resource="@color/colorPrimary"/>

    <service android:name="com.lesgood.siswa.data.remote.LocationService"/>
    <service
      android:exported="false"
      android:name="com.lesgood.siswa.data.remote.FetchAddressIntentService"/>
    <service android:name="com.lesgood.siswa.data.remote.FirebaseMessagingService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT"/>
      </intent-filter>
    </service>
    <!-- [END firebase_service] -->
    <!-- [START firebase_iid_service] -->
    <service android:name="com.lesgood.siswa.data.remote.FirebaseInstanceIDService">
      <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
      </intent-filter>
    </service>

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="@string/google_maps_key"/>

  </application>

</manifest>